<%= link_to "Add My Profile" , new_tutor_path%>
<% @tutors.each do |tutor| %>
  <div class="background-tile">

  <p>Name : <%= tutor.user_name %></p>
  <p>Subject : <%= tutor.subject %></p>
  	<%= link_to "Read More", tutor_path(tutor), :class => 'btn btn-default' %>
    </div>
	<hr>
<% end %>
